.App {
  text-align: center;
  background-color: #282828;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
}

body{
  background-color: #282828;
}

.main-container{
   margin: auto;
   width: 50%;
   padding: 10px;
    
}